# CLion & CMake build
cmake-build-*/
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt

# Executables
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# IDE: JetBrains CLion
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*~
*.swp
